#menu  {
    list-style: none;
    display: flex;
    padding: 10px;

}
#menu li{
    padding: 20px 10px; 
    margin: 1px; 
    background-color: aquamarine; 
    border-radius: 5px; 
    text-align: center; 
    font-weight: bold;
}
#menu li:hover
{
    color: white;
    background-color: orange; 
    font-style: italic;
    font-weight: bold;  
}

#menu1 {
    list-style: none;
    padding: 0;
    width: 250px;
}
#menu1 li{
    padding: 15px ;
    border-bottom:solid white;
    background-color: rgb(84, 178, 233);

}
#menu1 li:hover
{
    padding: 15px;
    font-style:italic ;
    background-color: rgb(91, 212, 239);
    
}
