#menu{
    background-color: aquamarine;
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px;
    li{
        padding: 20px 0 ; 
        margin: 1px; /*Khoảng cách giữa các ô */
    }
    li:hover{
        background-color: orange;
        font-style: italic;
        color: #fff;
        

    }
}